.SignupHeader{
    font-size: 50px;
    color: #1b7e72;
    margin-bottom: 2%;
}

.SignupSubtitle{
    font-size: 20px;    
    color: #1b7e72;
    margin-bottom: 2%;
}


.SignupForm{
    margin-bottom: 4%;
}