.search-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 15vh; /* 100% of the viewport height */
    border-radius: 20px; /* Increased rounded corners */
    background-color: white; /* Optional: Background color */
  }
  
  .search-form {
    text-align: center;
  }
  
  input {
    padding: 10px; /* Increased padding for better appearance */
    margin-right: 10px;
    border-radius: 20px; /* Increased rounded corners for the input */
    background-color: white;
    border-color: bisque;
  }
  
  button {
    padding: 10px; /* Increased padding for better appearance */
    border-radius: 15px; /* Increased rounded corners for the button */
    background-color: #006D77 ; /* Optional: Button background color */
    color: white; /* Optional: Button text color */
    border: none; /* Optional: Remove button border */
    width: 100px;
  }
  