/* YourComponent.css */

.vertical-menu {
    background-color: #FFEBE7; /* Set your preferred background color */
    border: 8px solid #FF82A9; /* Add a border to the menu */
    padding: 15px;
  }
  
  .vertical-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .vertical-menu li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc; /* Add a border between menu items */
    font-weight: bold;
    color: black;
    font-size: 15px;
  }
  
  .vertical-menu li:hover {
    background-color: #FFEBE7; /* Change background color on hover */
    border-radius: 15px;
  }
  